@import "../../../assets/styles/main.scss";

.home {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 40px;

    .content {
        z-index: $index-content;
        color: $cor-primaria;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            @include customTitleStyle;

            span {
                font-size: 1.2em;
                font-weight: 600;
            }
        };

        p {
            margin-bottom: 65px;
        };

        a {
            background-color: $cor-primaria;
            padding: 15px 20px;
            color: #1680ac;
            font-size: 1.1em;
            font-weight: 500;
            text-decoration: none;
            border-radius: 10px;
        }
    };

    .media-icons {
        z-index: $index-content;
        position: absolute;
        right: 0;
        transition: .5s ease;
        display: flex;
        flex-direction: column;
        
        
        a {
            background: none;
        }

        img {
            width: 30px;
            height: 30px;

            &:last-child {
                margin-bottom: 20px;
            };

            &:hover {
                transform: scale(1.8);
                transition: 0.5s ease;
            };

        };

    };


};

@media (max-width: 992px) {
    .home {
        padding-top: 8vh;
        .content {
            h1 {
              font-size: 3em;
              line-height: 65px;
            }
            a {
                padding: 10px;
            }

            p {
                margin-bottom: 25px
            }

        }
    }
}